<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tempaltes</title>
</head>
<body>
<form action ='/back' method="get">
 <textarea name='Text' style="margin: 0px; width: 280px; height: 66px;"> </textarea><br>

    <input type="checkbox" name="backremove"> Remove Puncuation <br>
    <input type="checkbox" name="caseU"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> NEWLINEREMOVER <br>
    <input type="checkbox" name="extraspaceremover"> EXTRA SPACE REMOVER <br>
     <input type="checkbox" name="stringcount"> COUNTING THE STRING <br>

    <button type="submit">Analyze</button>
</form>
</body>
</html>